/ParticleStormControl/ParticleStormControl/bin
/ParticleStormControl/ParticleStormControl/ParticleStormControl.csproj.Release.cachefile
/ParticleStormControl/ParticleStormControl/obj
/ParticleStormControl/ParticleStormControlContent/obj
/ParticleStormControl/ParticleStormControlContent/bin
/*.psess
/*.suo
/*.vspx

/ParticleStormControl/ParticleStormControl/*.cachefile

/ParticleStormControl/ParticleStormControl/ParticleStormControl.csproj.user
/ParticleStormControl/ParticleStormControl/ParticleStormControl_TemporaryKey.pfx
/UnitTests/obj
/UnitTests/bin
/VirusXStatistics/bin
/VirusXStatistics/obj

/VirusXLocalizationPipline/obj
/VirusXLocalizationPipline/bin
